<div class="form-wrapper">
  <div class="event-form-container" id="user-form">
    <div class="form-title">
      <h2>Edit your details</h2>
    </div>
    <%= render 'shared/user-form', message: "Submit changes" %>
  </div>
</div>
