<div class="form-wrapper">
  <div class="event-form-container" id="user-form">
    <div class="form-title">
      <h2>New? Sign Up</h2>
    </div>
    <%= render 'shared/user-form' %>
  </div>
</div>
