<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div id="search-form">
  <%= simple_form_for :data, url: events_index_path do |f| %>
    <%= f.input :location, as: :string, input_html: { placeholder: 'Where?' }, label: false %>

    <%= f.input :date, as: :string, input_html: { class: 'datepicker', value: Date.today }, label: false, order: [:day, :month, :year] %>
    <div class="form-group">
      <%= f.submit "Go!!", class: ' form-control button-form' %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  flatpickr('.datepicker', {
    altInput: true,
    altFormat: "F j, Y",
    dateFormat: "Y-m-d",
    defaultDate: new Date,
    minDate: new Date,
    maxDate: new Date().fp_incr(300),
    mode: "range"
  });
</script>
