<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="form-wrapper">
  <div class="event-form-container">
    <div class="form-title">
      <h2>New Event</h2>
    </div>
    <%= render 'shared/event-form' %>
  </div>
</div>

<script type="text/javascript">
  flatpickr('.datepicker', {
    altInput: true,
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    defaultDate: new Date,
    minDate: new Date,
    maxDate: new Date().fp_incr(300)
  });
</script>


