.home-banner {
  background-image: url('https://images.unsplash.com/photo-1511306404404-ad607bd7c601?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d8ff6fccca0d4737885c31b66e76976d&auto=format&fit=crop&w=2850&q=80');
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: white;
  margin-top: -55px;
}

.home-banner h1{
  margin: 0px;
  padding-top: 55px;
  font-size: 15vw;
}

.home-banner h3{
  margin-top: 0px;
  font-size: 40px;
}
