.wide-event-card {
  flex-grow: 1;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 10px;
  padding: 0;
  background-color: rgb(216, 216, 216);
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.wide-event-card-title {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.left-column{
  // padding-top: 6%;
  padding: 0 15px;
  border: 3px solid black;

}
.middle-column{
  text-align: left;
  padding-bottom: 10px;
  width: 60%;
  border: 3px solid black;

  p {
    margin-bottom: 0;
  }
  // display: flex;
  // flex-direction: column;
}

.inner-row p{
  color: black;
  margin: 5px 0;
}

.right-column{
  width: 20%;
  border: 3px solid black;
}

.inner-row{
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.inner-row h4{
  font-size: 24px;
  color: black;
  margin: 5px 0;
  padding: 0;
}

// .inner-row p{

// }

// .event-card {
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border-radius: 4px;
//   box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
//   margin-bottom: 20px;
//   .card-img {
//     width: 100%;
//     height: 200px;
//     border-radius: 4px 4px 0 0;
//   }
// }
