.wide-event-card {
  text-decoration: none;
  // position: relative;
  flex-grow: 1;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 10px;
  padding: 0;
  background-color: rgba(216, 216, 216, 0.5);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabcontent a {
  // position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 2;
}

.card-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding-right: 30px;
}

.wide-event-card-title {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.left-column{
  padding: 0 15px;
}
.middle-column{
  text-align: left;
  padding-bottom: 10px;
  // width: 70%;
  p {
    margin-bottom: 0;
  }
}

.right-column{
  flex: 0 0 170px;
  i {
    padding-right: 10px;
    font-size: 30px;
  }
}

.request-status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.pending {
  color: #ffa90b;
}

.accepted {
  color: #10c125;
}

.rejected {
  color: red;
}
